/*############
    FONTS
############*/
/*ROBOTO*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/*POPPINS*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/*##########
    vars
##########*/
$color: #fff;
$bg: rgb(24, 44, 41);
$fbg: rgb(27, 34, 33);
$secondary: rgb(234, 151, 255);
$primary: rgb(174, 0, 255);
$scrollbar-width: 5px;
$media-width: 331px;

@mixin title {
   color: $primary;
   text-shadow: 3px 3px 3px #2f0c2f;
}

@mixin link {
   color: $secondary;
   text-decoration: none;
   cursor: pointer;
}

@mixin linkHover {
   color: $primary;
   transition: 0.2s;
}
